
.vs/TRPO_Project/v16/.suo
TRPO_Project/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TRPO_Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TRPO_Project/obj/Debug/TRPO_Project.csprojAssemblyReference.cache
.vs/TRPO_Project/v16/TestStore/0/000.testlog
TRPO_Project/bin/Debug/Bunifu.Dataviz.WinForms.dll
*.dll
packages/Bunifu.UI.WinForms.5.2.3/lib/net40/Bunifu.UI.WinForms.BunifuPanel.xml
packages/Bunifu.UI.WinForms.5.2.3/lib/net40/Bunifu.UI.WinForms.BunifuPages.xml
packages/Bunifu.UI.WinForms.5.2.3/lib/net40/Bunifu.UI.WinForms.BunifuProgressBar.xml
packages/Bunifu.UI.WinForms.5.2.3/lib/net40/Bunifu.UI.WinForms.BunifuRating.xml
*.manifest
*.p7s
*.txt
*.xml
*.nupkg
*.config
*.pdb
*.cache
*.resources
packages/Bunifu.Dataviz.WinForms.2.2.0/lib/Assets/Icon.png
packages/Bunifu.UI.WinForms.5.2.3/lib/Assets/Icon.png
*.CopyComplete
TRPO_Project/obj/Debug/TRPO_Project.exe
TRPO_Project/bin/Debug/TRPO_Project.exe
*.licenses
*.licx
