
.vs/TRPO_Project/v16/.suo
TRPO_Project/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TRPO_Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TRPO_Project/obj/Debug/TRPO_Project.csprojAssemblyReference.cache
